.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea/*
VBS.iml
app/app.iml
a300keys.properties
micronet-platform.keystore
micronet-treq5-platform.keystore
obc5keys.properties
release.keystore
obc5_props.keystore
tab8keys.properties
tab8_props.keystore
*.iml
gradle
gradle.properties
gradlew
gradlew.bat
